In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from sklearn.preprocessing import LabelEncoder
from kmodes.kprototypes import KPrototypes
from matplotlib import style
from sklearn.preprocessing import MinMaxScaler

Import data

In [71]:
data = pd.read_csv('cleaned.csv')

C:\Users\G\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (11,18,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Copy the data in dataframe df

In [72]:
df=data.copy()
#df.head()

Keep data only for the year 2008 and 2009 (study period).

In [73]:
start=datetime.datetime(2008, 1, 1)
end=datetime.datetime(2009, 12, 31)

In [74]:
df['APPL_DATE']= pd.to_datetime(df['APPL_DATE'],dayfirst=True)
indices=[]

df = df[df['APPL_DATE']>start]
df = df[df['APPL_DATE']<end]


#for i in range(len(df)):
#    if i%100000==0:
#        print(i)
#    if df.iloc[i]['APPL_DATE']<start or df.iloc[i]['APPL_DATE']>end:
#        indices.append(i)
#df.drop(df.index[indices],inplace=True)

In [75]:
len(df)

239864

Remove columns which we don't want our model to take

In [76]:
df.drop(['OD_AMT','ACTIVITY_NAME','CLIENT_SRLNO','UNIT_NAME','APPL_DATE','PRODUCT_NAME','PIN_CODE','REGIS_DATE','ASSET_BASE','VILLAGE_NAME','REPAY_TYPE','Unnamed: 0','FAMILY_MEN','FAMILY_WOM','NO_OF_INSTALL','CITY','ACTIVE_YN','TOTAL_INSTALLMENT_PAID'],axis=1,inplace=True)
#len(df)
#df.drop(['TOTAL_INSTALLMENT_PAID'],axis=1,inplace=True)
#df.drop(['PIN_CODE','REGIS_DATE','ASSET_BASE'],axis=1,inplace=True)
#df.isnull().sum()*100/df.shape[0]

Selecting only the required district

In [77]:
df = df[df['UNIT_CODE']==31]

In [78]:
len(df)

5713

Remove NaN's and convert values in the data to str or int

In [79]:
df.dropna(inplace=True)
df = df.astype({"VILLAGE_CODE": str,'FAMILY_MEM':int,'GUARANTOR':str,'CO_OBLIGANT':str,'CO_LATERAL':str,'CATEGORY':str,'GENDER':str})
#len(df)
#df.head()

In [80]:
#for i in range(len(df)):
#    if i%100000==0:
 #       print(i)
  #  if df.iloc[i]['ODDAYS']!=0:
  #      df.iloc[i]['ODDAYS']=1
#df.loc[df['ODDAYS'] > 0, 'First Season'] = 1
df['Default'] = (df['ODDAYS'] > 0).astype(int)

In [81]:
df.head()

,ID_NO,UNIT_CODE,PRODUCT_CODE,APPL_AMT,ACTIVITY_CODE,VILLAGE_CODE,FAMILY_MEM,HOUSE_TYPE,REGULAR,FESTIVE,UNSECURE_SECURE,GUARANTOR,CO_OBLIGANT,CO_LATERAL,CATEGORY,AGE,GENDER,ACCOMADATION,ODDAYS,Default
1865,8749.0,31,113.0,10000.0,81.0,A0006,4,Tiles,1000.0,5000.0,U,N,N,N,O.B.C,32.0,F,R,0.0,0
1866,8787.0,31,103.0,20000.0,22.0,UT001,6,Tiles,1000.0,2000.0,U,N,N,N,O.B.C,27.0,F,R,156.0,1
1867,8788.0,31,103.0,20000.0,22.0,UT001,6,Tiles,1000.0,2000.0,U,N,N,N,O.B.C,41.0,F,R,156.0,1
1868,8794.0,31,104.0,20000.0,33.0,UT001,6,Tatched,1000.0,2000.0,U,N,N,N,O.B.C,31.0,F,R,156.0,1
1869,8795.0,31,103.0,20000.0,22.0,UT001,3,Tiles,500.0,1000.0,U,N,N,N,O.B.C,32.0,F,R,156.0,1

In [82]:
df.drop('ODDAYS',inplace=True,axis=1)

Encode the categorical variables. 
Firct convert the dataframe in a numpy array and then choose the columns to encode.

In [83]:
labelencoder1=LabelEncoder()

In [84]:
X=df.iloc[:,1:19].values
#X.shape

In [85]:
df.reset_index(inplace=True)

In [86]:
df.drop('index',axis=1,inplace=True)
#print(df.head())

In [87]:
df.head()

,ID_NO,UNIT_CODE,PRODUCT_CODE,APPL_AMT,ACTIVITY_CODE,VILLAGE_CODE,FAMILY_MEM,HOUSE_TYPE,REGULAR,FESTIVE,UNSECURE_SECURE,GUARANTOR,CO_OBLIGANT,CO_LATERAL,CATEGORY,AGE,GENDER,ACCOMADATION,Default
0,8749.0,31,113.0,10000.0,81.0,A0006,4,Tiles,1000.0,5000.0,U,N,N,N,O.B.C,32.0,F,R,0
1,8787.0,31,103.0,20000.0,22.0,UT001,6,Tiles,1000.0,2000.0,U,N,N,N,O.B.C,27.0,F,R,1
2,8788.0,31,103.0,20000.0,22.0,UT001,6,Tiles,1000.0,2000.0,U,N,N,N,O.B.C,41.0,F,R,1
3,8794.0,31,104.0,20000.0,33.0,UT001,6,Tatched,1000.0,2000.0,U,N,N,N,O.B.C,31.0,F,R,1
4,8795.0,31,103.0,20000.0,22.0,UT001,3,Tiles,500.0,1000.0,U,N,N,N,O.B.C,32.0,F,R,1

In [88]:
for i in range (0,17):
    if i!=3 or i!=6 or i!=8 or i!=9 or i!=15:
        X[:,i]=labelencoder1.fit_transform(X[:,i])
        #print (i)

In [89]:
df.head()

,ID_NO,UNIT_CODE,PRODUCT_CODE,APPL_AMT,ACTIVITY_CODE,VILLAGE_CODE,FAMILY_MEM,HOUSE_TYPE,REGULAR,FESTIVE,UNSECURE_SECURE,GUARANTOR,CO_OBLIGANT,CO_LATERAL,CATEGORY,AGE,GENDER,ACCOMADATION,Default
0,8749.0,31,113.0,10000.0,81.0,A0006,4,Tiles,1000.0,5000.0,U,N,N,N,O.B.C,32.0,F,R,0
1,8787.0,31,103.0,20000.0,22.0,UT001,6,Tiles,1000.0,2000.0,U,N,N,N,O.B.C,27.0,F,R,1
2,8788.0,31,103.0,20000.0,22.0,UT001,6,Tiles,1000.0,2000.0,U,N,N,N,O.B.C,41.0,F,R,1
3,8794.0,31,104.0,20000.0,33.0,UT001,6,Tatched,1000.0,2000.0,U,N,N,N,O.B.C,31.0,F,R,1
4,8795.0,31,103.0,20000.0,22.0,UT001,3,Tiles,500.0,1000.0,U,N,N,N,O.B.C,32.0,F,R,1

In [90]:
df2=df.copy()

Scaling of numerical variables.

In [91]:
scaler = MinMaxScaler()
df[['APPL_AMT', 'FAMILY_MEM','REGULAR','FESTIVE','AGE']] = scaler.fit_transform(df[['APPL_AMT', 'FAMILY_MEM','REGULAR','FESTIVE','AGE']])

C:\Users\G\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int32, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

ID is the identifier for each entry in out data

In [92]:
ID = df['ID_NO'].to_list()
ID= np.asarray(ID)
#len(ID)

In [93]:
#style.use("ggplot")
#colors = ['b', 'orange', 'g', 'r', 'c', 'm', 'y', 'k', 'Brown', 'ForestGreen']

In [94]:
print(X.shape)

(4189, 18)

Fitting the model k-prototype.
n_init = number of runs, 
categorical = column numbers of categorical variables, 
X = numpy array formed from the original data leaving the identifier column ID out, 
n_clusters = number of clusters

In [95]:
n_clust=10
kproto = KPrototypes(n_clusters=n_clust, init='Cao', verbose=2,n_init=5)
clusters = kproto.fit_predict(X, categorical=[0,1,3,4,6,9,10,11,12,13,15,16])

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 1193, ncost: 251036.50345945277
Run: 1, iteration: 2/100, moves: 566, ncost: 242092.58021580207
Run: 1, iteration: 3/100, moves: 427, ncost: 236698.2329477677
Run: 1, iteration: 4/100, moves: 257, ncost: 234784.29382014266
Run: 1, iteration: 5/100, moves: 300, ncost: 230185.6364865568
Run: 1, iteration: 6/100, moves: 261, ncost: 226683.2777074381
Run: 1, iteration: 7/100, moves: 161, ncost: 224934.97482407474
Run: 1, iteration: 8/100, moves: 85, ncost: 224650.49156585272
Run: 1, iteration: 9/100, moves: 23, ncost: 224603.80074043857
Run: 1, iteration: 10/100, moves: 7, ncost: 224599.28587902893
Run: 1, iteration: 11/100, moves: 1, ncost: 224598.89831443736
Run: 1, iteration: 12/100, moves: 0, ncost: 224598.89831443736
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/100, moves: 1134, ncost: 235001.36821314073
Run: 2, iteration: 2/100, moves: 449, ncost: 229924.16338603882
Run: 2, iteration: 3/100, moves: 237, ncost: 228296.82817394106
Run: 2, iteration: 4/100, moves: 195, ncost: 226827.5645316128
Run: 2, iteration: 5/100, moves: 151, ncost: 225724.99675174808
Run: 2, iteration: 6/100, moves: 133, ncost: 224791.7473847922
Run: 2, iteration: 7/100, moves: 66, ncost: 224612.29204543645
Run: 2, iteration: 8/100, moves: 19, ncost: 224592.35478058262
Run: 2, iteration: 9/100, moves: 4, ncost: 224591.41090983056
Run: 2, iteration: 10/100, moves: 2, ncost: 224590.91363483507
Run: 2, iteration: 11/100, moves: 0, ncost: 224590.91363483507
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/100, moves: 867, ncost: 246094.20751538264
Run: 3, iteration: 2/100, moves: 417, ncost: 242226.2725557058
Run: 3, iteration: 3/100, moves: 243, ncost: 240359.67941482525
Run: 3, iteration: 4/100, moves: 170, ncost: 239353.58933707743
Run: 3, iteration: 5/100, moves: 101, ncost: 238962.47138716426
Run: 3, iteration: 6/100, moves: 66, ncost: 238762.26415088895
Run: 3, iteration: 7/100, moves: 28, ncost: 238720.06496961988
Run: 3, iteration: 8/100, moves: 27, ncost: 238658.12993045783
Run: 3, iteration: 9/100, moves: 29, ncost: 238480.80779230632
Run: 3, iteration: 10/100, moves: 64, ncost: 238285.39329519996
Run: 3, iteration: 11/100, moves: 33, ncost: 238179.65339583904
Run: 3, iteration: 12/100, moves: 47, ncost: 237977.2356024431
Run: 3, iteration: 13/100, moves: 55, ncost: 237677.00415713363
Run: 3, iteration: 14/100, moves: 67, ncost: 237113.8585537998
Run: 3, iteration: 15/100, moves: 110, ncost: 236009.6169168683
Run: 3, iteration: 16/100, moves: 112, ncost: 235070.5823916271
Run: 3, iteration: 17/100, moves: 79, ncost: 234727.6159041146
Run: 3, iteration: 18/100, moves: 130, ncost: 232587.10231863588
Run: 3, iteration: 19/100, moves: 251, ncost: 227376.43983202783
Run: 3, iteration: 20/100, moves: 144, ncost: 225763.20339803418
Run: 3, iteration: 21/100, moves: 60, ncost: 225205.90290853483
Run: 3, iteration: 22/100, moves: 25, ncost: 225121.79413770008
Run: 3, iteration: 23/100, moves: 7, ncost: 225114.7542908133
Run: 3, iteration: 24/100, moves: 3, ncost: 225111.78091968148
Run: 3, iteration: 25/100, moves: 1, ncost: 225110.6602940115
Run: 3, iteration: 26/100, moves: 0, ncost: 225110.6602940115
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/100, moves: 1426, ncost: 246760.3673669071
Run: 4, iteration: 2/100, moves: 525, ncost: 239653.89042969566
Run: 4, iteration: 3/100, moves: 220, ncost: 238517.83682690898
Run: 4, iteration: 4/100, moves: 117, ncost: 238143.39221501222
Run: 4, iteration: 5/100, moves: 52, ncost: 238048.17227011267
Run: 4, iteration: 6/100, moves: 30, ncost: 237985.3544682252
Run: 4, iteration: 7/100, moves: 35, ncost: 237905.65622137176
Run: 4, iteration: 8/100, moves: 27, ncost: 237870.92082472972
Run: 4, iteration: 9/100, moves: 7, ncost: 237866.80566663467
Run: 4, iteration: 10/100, moves: 7, ncost: 237861.57878396995
Run: 4, iteration: 11/100, moves: 10, ncost: 237849.59462242314
Run: 4, iteration: 12/100, moves: 16, ncost: 237835.4719213408
Run: 4, iteration: 13/100, moves: 6, ncost: 237833.6216033804
Run: 4, iteration: 14/100, moves: 0, ncost: 237833.6216033804
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/100, moves: 1330, ncost: 264333.66057377355
Run: 5, iteration: 2/100, moves: 620, ncost: 249156.5692487611
Run: 5, iteration: 3/100, moves: 288, ncost: 246250.05166319327
Run: 5, iteration: 4/100, moves: 148, ncost: 244684.34858721748
Run: 5, iteration: 5/100, moves: 141, ncost: 242145.06130618628
Run: 5, iteration: 6/100, moves: 139, ncost: 239842.44606682495
Run: 5, iteration: 7/100, moves: 127, ncost: 238200.20945509363
Run: 5, iteration: 8/100, moves: 94, ncost: 237217.42072541153
Run: 5, iteration: 9/100, moves: 80, ncost: 236828.77449315868
Run: 5, iteration: 10/100, moves: 29, ncost: 236787.68353072763
Run: 5, iteration: 11/100, moves: 14, ncost: 236774.4216619298
Run: 5, iteration: 12/100, moves: 15, ncost: 236745.75488005046
Run: 5, iteration: 13/100, moves: 10, ncost: 236739.97131030532
Run: 5, iteration: 14/100, moves: 6, ncost: 236734.06990292703
Run: 5, iteration: 15/100, moves: 3, ncost: 236732.86873109665
Run: 5, iteration: 16/100, moves: 0, ncost: 236732.86873109665
Best run was number 2

Location of the centroids

In [96]:
#print(kproto.cluster_centroids_)

Save the obtained clusters in a dictionary where keys are ID's and values are the cluster numbers. Also, append the cluster numbers to original dataframe.

In [97]:
clust_dict={}
clust=[]
for s, c in zip(ID, clusters):
    clust_dict[s]=c
    clust.append(c)
df2['cluster']=clust

In [98]:
len(clust)

4189

In [99]:
df2.to_csv('cleaned_with_clusters_vs_ID_Adilabad.csv')

In [100]:
df2.head()

,ID_NO,UNIT_CODE,PRODUCT_CODE,APPL_AMT,ACTIVITY_CODE,VILLAGE_CODE,FAMILY_MEM,HOUSE_TYPE,REGULAR,FESTIVE,UNSECURE_SECURE,GUARANTOR,CO_OBLIGANT,CO_LATERAL,CATEGORY,AGE,GENDER,ACCOMADATION,Default,cluster
0,8749.0,31,113.0,10000.0,81.0,A0006,4,Tiles,1000.0,5000.0,U,N,N,N,O.B.C,32.0,F,R,0,2
1,8787.0,31,103.0,20000.0,22.0,UT001,6,Tiles,1000.0,2000.0,U,N,N,N,O.B.C,27.0,F,R,1,1
2,8788.0,31,103.0,20000.0,22.0,UT001,6,Tiles,1000.0,2000.0,U,N,N,N,O.B.C,41.0,F,R,1,8
3,8794.0,31,104.0,20000.0,33.0,UT001,6,Tatched,1000.0,2000.0,U,N,N,N,O.B.C,31.0,F,R,1,9
4,8795.0,31,103.0,20000.0,22.0,UT001,3,Tiles,500.0,1000.0,U,N,N,N,O.B.C,32.0,F,R,1,0

In [101]:
for i in range(0,n_clust):
    print ("Cluster",i,":", df2.groupby('cluster').count().iloc[i]['ID_NO'])
#df.groupby('cluster').count()

Cluster 0 : 624
Cluster 1 : 505
Cluster 2 : 304
Cluster 3 : 432
Cluster 4 : 232
Cluster 5 : 116
Cluster 6 : 379
Cluster 7 : 715
Cluster 8 : 380
Cluster 9 : 502

In [102]:
summary = pd.read_csv('cleaned_with_clusters_vs_ID_Adilabad.csv')

In [103]:
summary.groupby('cluster').count()

,Unnamed: 0,ID_NO,UNIT_CODE,PRODUCT_CODE,APPL_AMT,ACTIVITY_CODE,VILLAGE_CODE,FAMILY_MEM,HOUSE_TYPE,REGULAR,FESTIVE,UNSECURE_SECURE,GUARANTOR,CO_OBLIGANT,CO_LATERAL,CATEGORY,AGE,GENDER,ACCOMADATION,Default
cluster,,,,,,,,,,,,,,,,,,,,
0,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624,624
1,505,505,505,505,505,505,505,505,505,505,505,505,505,505,505,505,505,505,505,505
2,304,304,304,304,304,304,304,304,304,304,304,304,304,304,304,304,304,304,304,304
3,432,432,432,432,432,432,432,432,432,432,432,432,432,432,432,432,432,432,432,432
4,232,232,232,232,232,232,232,232,232,232,232,232,232,232,232,232,232,232,232,232
5,116,116,116,116,116,116,116,116,116,116,116,116,116,116,116,116,116,116,116,116
6,379,379,379,379,379,379,379,379,379,379,379,379,379,379,379,379,379,379,379,379
7,715,715,715,715,715,715,715,715,715,715,715,715,715,715,715,715,715,715,715,715
8,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380
9,502,502,502,502,502,502,502,502,502,502,502,502,502,502,502,502,502,502,502,502

In [104]:
summary.drop('Unnamed: 0',inplace=True,axis=1)

Based on category

In [105]:
print('Clusterwise category for all clusters\n')
for i in range(0,n_clust):
        print('Cluster',i,':-')
        count = (summary[summary['cluster']==i]['CATEGORY'].value_counts()[:5].tolist())
        total_in_cluster = summary.groupby('cluster').count().iloc[i]['ID_NO']
        count = [((x*100)/total_in_cluster).round(2) for x in count]
        print(summary[summary['cluster']==i]['CATEGORY'].value_counts()[:5].index.tolist())
        print(count)
        
df1 = summary.groupby('CATEGORY').count()
df1.reset_index(inplace=True)
#df1.head()
df1 = df1[['CATEGORY','ID_NO']].copy()

print('Category-wise summary for all clusters:\n')
for cat in summary['CATEGORY'].unique().tolist():
    print('\nFor category',cat,'the total number of applications are-',df1[df1['CATEGORY']==cat]['ID_NO'].to_string(index=None))
    for i in range(0,n_clust):
        print('Cluster',i,'has below %')
        count = (summary[summary['cluster']==i]['CATEGORY'].value_counts()[:5].tolist())
        cats = summary[summary['cluster']==i]['CATEGORY'].value_counts()[:5].index.tolist()
        df_dummy = pd.DataFrame({'CAT':cats,'count':count})
        #print(df_dummy.head())
        print(df_dummy[df_dummy['CAT']==cat]['count']*100/float(df1[df1['CATEGORY']==cat]['ID_NO'].to_string(index=None)))

Clusterwise category for all clusters

Cluster 0 :-
['O.B.C', 'MINORITY', 'S.C', 'S.T', 'O.C']
[53.53, 19.07, 17.47, 8.33, 1.6]
Cluster 1 :-
['O.B.C', 'MINORITY', 'S.C', 'S.T', 'O.C']
[51.49, 21.98, 16.63, 7.92, 1.98]
Cluster 2 :-
['O.B.C', 'MINORITY', 'S.C', 'S.T', 'O.C']
[48.36, 29.28, 13.82, 7.24, 1.32]
Cluster 3 :-
['O.B.C', 'MINORITY', 'S.C', 'S.T', 'O.C']
[58.1, 18.29, 15.74, 5.79, 2.08]
Cluster 4 :-
['O.B.C', 'MINORITY', 'S.C', 'S.T', 'O.C']
[48.71, 26.72, 13.79, 8.19, 2.59]
Cluster 5 :-
['O.B.C', 'MINORITY', 'S.C', 'S.T', 'O.C']
[41.38, 28.45, 12.93, 12.93, 4.31]
Cluster 6 :-
['O.B.C', 'MINORITY', 'S.C', 'S.T', 'O.C']
[53.03, 19.53, 19.26, 7.12, 1.06]
Cluster 7 :-
['O.B.C', 'MINORITY', 'S.C', 'S.T', 'O.C']
[54.83, 21.26, 16.78, 6.15, 0.98]
Cluster 8 :-
['O.B.C', 'S.C', 'MINORITY', 'S.T', 'O.C']
[45.26, 23.16, 22.11, 8.42, 1.05]
Cluster 9 :-
['O.B.C', 'MINORITY', 'S.C', 'S.T', 'O.C']
[48.21, 21.91, 19.92, 8.57, 1.39]
Category-wise summary for all clusters:


For category O.B.C the total number of applications are-  2160
Cluster 0 has below %
0    15.462963
Name: count, dtype: float64
Cluster 1 has below %
0    12.037037
Name: count, dtype: float64
Cluster 2 has below %
0    6.805556
Name: count, dtype: float64
Cluster 3 has below %
0    11.62037
Name: count, dtype: float64
Cluster 4 has below %
0    5.231481
Name: count, dtype: float64
Cluster 5 has below %
0    2.222222
Name: count, dtype: float64
Cluster 6 has below %
0    9.305556
Name: count, dtype: float64
Cluster 7 has below %
0    18.148148
Name: count, dtype: float64
Cluster 8 has below %
0    7.962963
Name: count, dtype: float64
Cluster 9 has below %
0    11.203704
Name: count, dtype: float64

For category S.C the total number of applications are-  731
Cluster 0 has below %
2    14.911081
Name: count, dtype: float64
Cluster 1 has below %
2    11.491108
Name: count, dtype: float64
Cluster 2 has below %
2    5.745554
Name: count, dtype: float64
Cluster 3 has below %
2    9.302326
Name: count, dtype: float64
Cluster 4 has below %
2    4.377565
Name: count, dtype: float64
Cluster 5 has below %
2    2.051984
Name: count, dtype: float64
Cluster 6 has below %
2    9.98632
Name: count, dtype: float64
Cluster 7 has below %
2    16.415869
Name: count, dtype: float64
Cluster 8 has below %
1    12.038304
Name: count, dtype: float64
Cluster 9 has below %
2    13.679891
Name: count, dtype: float64

For category MINORITY the total number of applications are-  913
Cluster 0 has below %
1    13.033954
Name: count, dtype: float64
Cluster 1 has below %
1    12.157722
Name: count, dtype: float64
Cluster 2 has below %
1    9.748083
Name: count, dtype: float64
Cluster 3 has below %
1    8.652793
Name: count, dtype: float64
Cluster 4 has below %
1    6.7908
Name: count, dtype: float64
Cluster 5 has below %
1    3.614458
Name: count, dtype: float64
Cluster 6 has below %
1    8.105148
Name: count, dtype: float64
Cluster 7 has below %
1    16.648412
Name: count, dtype: float64
Cluster 8 has below %
2    9.200438
Name: count, dtype: float64
Cluster 9 has below %
1    12.048193
Name: count, dtype: float64

For category S.T the total number of applications are-  319
Cluster 0 has below %
3    16.30094
Name: count, dtype: float64
Cluster 1 has below %
3    12.539185
Name: count, dtype: float64
Cluster 2 has below %
3    6.896552
Name: count, dtype: float64
Cluster 3 has below %
3    7.836991
Name: count, dtype: float64
Cluster 4 has below %
3    5.956113
Name: count, dtype: float64
Cluster 5 has below %
3    4.702194
Name: count, dtype: float64
Cluster 6 has below %
3    8.46395
Name: count, dtype: float64
Cluster 7 has below %
3    13.793103
Name: count, dtype: float64
Cluster 8 has below %
3    10.031348
Name: count, dtype: float64
Cluster 9 has below %
3    13.479624
Name: count, dtype: float64

For category O.C the total number of applications are-  66
Cluster 0 has below %
4    15.151515
Name: count, dtype: float64
Cluster 1 has below %
4    15.151515
Name: count, dtype: float64
Cluster 2 has below %
4    6.060606
Name: count, dtype: float64
Cluster 3 has below %
4    13.636364
Name: count, dtype: float64
Cluster 4 has below %
4    9.090909
Name: count, dtype: float64
Cluster 5 has below %
4    7.575758
Name: count, dtype: float64
Cluster 6 has below %
4    6.060606
Name: count, dtype: float64
Cluster 7 has below %
4    10.606061
Name: count, dtype: float64
Cluster 8 has below %
4    6.060606
Name: count, dtype: float64
Cluster 9 has below %
4    10.606061
Name: count, dtype: float64

Based on default behaviour

In [106]:
print('Clusterwise defualt behaviour\n')
for i in range(0,n_clust):
        print('Cluster',i,':-')
        count = (summary[summary['cluster']==i]['Default'].value_counts()[:2].tolist())
        total_in_cluster = summary.groupby('cluster').count().iloc[i]['ID_NO']
        count = [((x*100)/total_in_cluster).round(2) for x in count]
        print(summary[summary['cluster']==i]['Default'].value_counts()[:2].index.tolist())
        print(count)
        
df1 = summary.groupby('Default').count()
df1.reset_index(inplace=True)
df1.head()
df1 = df1[['Default','ID_NO']].copy()

print('Default behaviour wise summary for all clusters:\n')
for default in summary['Default'].unique().tolist():
    print('\nFor default',default,'the total number of applications are-',df1[df1['Default']==default]['ID_NO'].to_string(index=None))
    for i in range(0,n_clust):
        print('Cluster',i,'has below %')
        count = (summary[summary['cluster']==i]['Default'].value_counts()[:2].tolist())
        defs = summary[summary['cluster']==i]['Default'].value_counts()[:2].index.tolist()
        df_dummy = pd.DataFrame({'Def':defs,'count':count})
        #print(df_dummy.head())
        print(df_dummy[df_dummy['Def']==default]['count']*100/float(df1[df1['Default']==default]['ID_NO'].to_string(index=None)))

Clusterwise defualt behaviour

Cluster 0 :-
[1, 0]
[53.21, 46.79]
Cluster 1 :-
[0, 1]
[59.21, 40.79]
Cluster 2 :-
[0, 1]
[65.46, 34.54]
Cluster 3 :-
[0, 1]
[54.63, 45.37]
Cluster 4 :-
[0, 1]
[70.69, 29.31]
Cluster 5 :-
[1, 0]
[51.72, 48.28]
Cluster 6 :-
[0, 1]
[65.44, 34.56]
Cluster 7 :-
[0, 1]
[50.77, 49.23]
Cluster 8 :-
[0, 1]
[60.0, 40.0]
Cluster 9 :-
[0, 1]
[61.35, 38.65]
Default behaviour wise summary for all clusters:


For default 0 the total number of applications are-  2393
Cluster 0 has below %
1    12.202257
Name: count, dtype: float64
Cluster 1 has below %
0    12.494776
Name: count, dtype: float64
Cluster 2 has below %
0    8.315921
Name: count, dtype: float64
Cluster 3 has below %
0    9.862098
Name: count, dtype: float64
Cluster 4 has below %
0    6.853322
Name: count, dtype: float64
Cluster 5 has below %
1    2.340159
Name: count, dtype: float64
Cluster 6 has below %
0    10.36356
Name: count, dtype: float64
Cluster 7 has below %
0    15.169244
Name: count, dtype: float64
Cluster 8 has below %
0    9.527789
Name: count, dtype: float64
Cluster 9 has below %
0    12.870873
Name: count, dtype: float64

For default 1 the total number of applications are-  1796
Cluster 0 has below %
0    18.485523
Name: count, dtype: float64
Cluster 1 has below %
1    11.469933
Name: count, dtype: float64
Cluster 2 has below %
1    5.846325
Name: count, dtype: float64
Cluster 3 has below %
1    10.91314
Name: count, dtype: float64
Cluster 4 has below %
1    3.786192
Name: count, dtype: float64
Cluster 5 has below %
0    3.340757
Name: count, dtype: float64
Cluster 6 has below %
1    7.293987
Name: count, dtype: float64
Cluster 7 has below %
1    19.599109
Name: count, dtype: float64
Cluster 8 has below %
1    8.463252
Name: count, dtype: float64
Cluster 9 has below %
1    10.801782
Name: count, dtype: float64

Based on Secured/Unsecured status

In [107]:
print('Clusterwise secured/unsecured for all clusters\n')
for i in range(0,n_clust):
        print('Cluster',i,':-')
        count = (summary[summary['cluster']==i]['UNSECURE_SECURE'].value_counts()[:5].tolist())
        total_in_cluster = summary.groupby('cluster').count().iloc[i]['ID_NO']
        count = [((x*100)/total_in_cluster).round(2) for x in count]
        print(summary[summary['cluster']==i]['UNSECURE_SECURE'].value_counts()[:5].index.tolist())
        print(count)
        
df1 = summary.groupby('UNSECURE_SECURE').count()
df1.reset_index(inplace=True)
df1.head()
df1 = df1[['UNSECURE_SECURE','ID_NO']].copy()


print('Secured/unsecured wise summary for all clusters:\n')
for status in summary['UNSECURE_SECURE'].unique().tolist():
    print('\nFor status',status,'the total number of applications are-',df1[df1['UNSECURE_SECURE']==status]['ID_NO'].to_string(index=None))
    for i in range(0,n_clust):
        print('Cluster',i,'has below %')
        count = (summary[summary['cluster']==i]['UNSECURE_SECURE'].value_counts()[:2].tolist())
        statuses = summary[summary['cluster']==i]['UNSECURE_SECURE'].value_counts()[:2].index.tolist()
        df_dummy = pd.DataFrame({'STATUS':statuses,'count':count})
        #print(df_dummy.head())
        print(df_dummy[df_dummy['STATUS']==status]['count']*100/float(df1[df1['UNSECURE_SECURE']==status]['ID_NO'].to_string(index=None)))

Clusterwise secured/unsecured for all clusters

Cluster 0 :-
['U']
[100.0]
Cluster 1 :-
['U']
[100.0]
Cluster 2 :-
['U']
[100.0]
Cluster 3 :-
['U']
[100.0]
Cluster 4 :-
['U']
[100.0]
Cluster 5 :-
['U']
[100.0]
Cluster 6 :-
['U']
[100.0]
Cluster 7 :-
['U']
[100.0]
Cluster 8 :-
['U']
[100.0]
Cluster 9 :-
['U']
[100.0]
Secured/unsecured wise summary for all clusters:


For status U the total number of applications are-  4189
Cluster 0 has below %
0    14.896157
Name: count, dtype: float64
Cluster 1 has below %
0    12.055383
Name: count, dtype: float64
Cluster 2 has below %
0    7.257102
Name: count, dtype: float64
Cluster 3 has below %
0    10.312724
Name: count, dtype: float64
Cluster 4 has below %
0    5.538315
Name: count, dtype: float64
Cluster 5 has below %
0    2.769157
Name: count, dtype: float64
Cluster 6 has below %
0    9.047505
Name: count, dtype: float64
Cluster 7 has below %
0    17.068513
Name: count, dtype: float64
Cluster 8 has below %
0    9.071377
Name: count, dtype: float64
Cluster 9 has below %
0    11.983767
Name: count, dtype: float64

In [108]:
#Based on house type
print('Clusterwise house type for all clusters\n')
for i in range(0,n_clust):
        print('Cluster',i,':-')
        count = (summary[summary['cluster']==i]['HOUSE_TYPE'].value_counts()[:5].tolist())
        total_in_cluster = summary.groupby('cluster').count().iloc[i]['ID_NO']
        count = [((x*100)/total_in_cluster).round(2) for x in count]
        print(summary[summary['cluster']==i]['HOUSE_TYPE'].value_counts()[:5].index.tolist())
        print(count)        
        
df1 = summary.groupby('HOUSE_TYPE').count()
df1.reset_index(inplace=True)
df1.head()
df1 = df1[['HOUSE_TYPE','ID_NO']].copy()


print('House type wise summary for all clusters:\n')
for htype in summary['HOUSE_TYPE'].unique().tolist():
    print('\nFor house type',htype,'the total number of applications are-',df1[df1['HOUSE_TYPE']==htype]['ID_NO'].to_string(index=None))
    for i in range(0,n_clust):
        print('Cluster',i,'has below %')
        count = (summary[summary['cluster']==i]['HOUSE_TYPE'].value_counts()[:5].tolist())
        types = summary[summary['cluster']==i]['HOUSE_TYPE'].value_counts()[:5].index.tolist()
        df_dummy = pd.DataFrame({'HOUSE':types,'count':count})
        #print(df_dummy.head())
        print(df_dummy[df_dummy['HOUSE']==htype]['count']*100/float(df1[df1['HOUSE_TYPE']==htype]['ID_NO'].to_string(index=None)))

Clusterwise house type for all clusters

Cluster 0 :-
['Tatched', 'Tiles', 'Sheets', 'R.C.C']
[66.51, 32.53, 0.64, 0.32]
Cluster 1 :-
['Tatched', 'Tiles', 'R.C.C', 'Sheets', 'Stones']
[63.17, 31.09, 2.97, 2.57, 0.2]
Cluster 2 :-
['Tatched', 'Tiles', 'R.C.C', 'Sheets']
[60.2, 34.87, 3.62, 1.32]
Cluster 3 :-
['Tatched', 'Tiles', 'R.C.C', 'Sheets']
[66.9, 31.94, 0.69, 0.46]
Cluster 4 :-
['Tatched', 'Tiles', 'R.C.C', 'Sheets']
[70.26, 24.14, 3.88, 1.72]
Cluster 5 :-
['Tatched', 'Tiles', 'R.C.C', 'Sheets']
[68.97, 28.45, 1.72, 0.86]
Cluster 6 :-
['Tatched', 'Tiles', 'R.C.C', 'Sheets']
[56.46, 38.79, 2.64, 2.11]
Cluster 7 :-
['Tatched', 'Tiles', 'R.C.C', 'Sheets', 'Stones']
[64.34, 33.57, 1.26, 0.7, 0.14]
Cluster 8 :-
['Tatched', 'Tiles', 'Sheets', 'R.C.C', 'Stones']
[59.74, 32.37, 3.95, 3.42, 0.53]
Cluster 9 :-
['Tatched', 'Tiles', 'Sheets', 'R.C.C', 'Stones']
[56.37, 30.68, 6.37, 6.18, 0.4]
House type wise summary for all clusters:


For house type Tiles the total number of applications are-  1357
Cluster 0 has below %
1    14.959469
Name: count, dtype: float64
Cluster 1 has below %
1    11.569639
Name: count, dtype: float64
Cluster 2 has below %
1    7.811349
Name: count, dtype: float64
Cluster 3 has below %
1    10.169492
Name: count, dtype: float64
Cluster 4 has below %
1    4.12675
Name: count, dtype: float64
Cluster 5 has below %
1    2.431835
Name: count, dtype: float64
Cluster 6 has below %
1    10.832719
Name: count, dtype: float64
Cluster 7 has below %
1    17.686072
Name: count, dtype: float64
Cluster 8 has below %
1    9.064112
Name: count, dtype: float64
Cluster 9 has below %
1    11.348563
Name: count, dtype: float64

For house type Tatched the total number of applications are-  2633
Cluster 0 has below %
0    15.761489
Name: count, dtype: float64
Cluster 1 has below %
0    12.115458
Name: count, dtype: float64
Cluster 2 has below %
0    6.950247
Name: count, dtype: float64
Cluster 3 has below %
0    10.976073
Name: count, dtype: float64
Cluster 4 has below %
0    6.190657
Name: count, dtype: float64
Cluster 5 has below %
0    3.038359
Name: count, dtype: float64
Cluster 6 has below %
0    8.127611
Name: count, dtype: float64
Cluster 7 has below %
0    17.470566
Name: count, dtype: float64
Cluster 8 has below %
0    8.621344
Name: count, dtype: float64
Cluster 9 has below %
0    10.748196
Name: count, dtype: float64

For house type Sheets the total number of applications are-  88
Cluster 0 has below %
2    4.545455
Name: count, dtype: float64
Cluster 1 has below %
3    14.772727
Name: count, dtype: float64
Cluster 2 has below %
3    4.545455
Name: count, dtype: float64
Cluster 3 has below %
3    2.272727
Name: count, dtype: float64
Cluster 4 has below %
3    4.545455
Name: count, dtype: float64
Cluster 5 has below %
3    1.136364
Name: count, dtype: float64
Cluster 6 has below %
3    9.090909
Name: count, dtype: float64
Cluster 7 has below %
3    5.681818
Name: count, dtype: float64
Cluster 8 has below %
2    17.045455
Name: count, dtype: float64
Cluster 9 has below %
2    36.363636
Name: count, dtype: float64

For house type R.C.C the total number of applications are-  105
Cluster 0 has below %
3    1.904762
Name: count, dtype: float64
Cluster 1 has below %
2    14.285714
Name: count, dtype: float64
Cluster 2 has below %
2    10.47619
Name: count, dtype: float64
Cluster 3 has below %
2    2.857143
Name: count, dtype: float64
Cluster 4 has below %
2    8.571429
Name: count, dtype: float64
Cluster 5 has below %
2    1.904762
Name: count, dtype: float64
Cluster 6 has below %
2    9.52381
Name: count, dtype: float64
Cluster 7 has below %
2    8.571429
Name: count, dtype: float64
Cluster 8 has below %
3    12.380952
Name: count, dtype: float64
Cluster 9 has below %
3    29.52381
Name: count, dtype: float64

For house type Stones the total number of applications are-  6
Cluster 0 has below %
Series([], Name: count, dtype: float64)
Cluster 1 has below %
4    16.666667
Name: count, dtype: float64
Cluster 2 has below %
Series([], Name: count, dtype: float64)
Cluster 3 has below %
Series([], Name: count, dtype: float64)
Cluster 4 has below %
Series([], Name: count, dtype: float64)
Cluster 5 has below %
Series([], Name: count, dtype: float64)
Cluster 6 has below %
Series([], Name: count, dtype: float64)
Cluster 7 has below %
4    16.666667
Name: count, dtype: float64
Cluster 8 has below %
4    33.333333
Name: count, dtype: float64
Cluster 9 has below %
4    33.333333
Name: count, dtype: float64

Based on Guarantor

In [109]:
print('Clusterwise guarantor for all clusters\n')
for i in range(0,n_clust):
        print('Cluster',i,':-')
        count = (summary[summary['cluster']==i]['GUARANTOR'].value_counts()[:2].tolist())
        total_in_cluster = summary.groupby('cluster').count().iloc[i]['ID_NO']
        count = [((x*100)/total_in_cluster).round(2) for x in count]
        print(summary[summary['cluster']==i]['GUARANTOR'].value_counts()[:2].index.tolist())
        print(count)        
        
df1 = summary.groupby('GUARANTOR').count()
df1.reset_index(inplace=True)
df1.head()
df1 = df1[['GUARANTOR','ID_NO']].copy()


print('Gurantor based summary for all clusters:\n')
for gtype in summary['GUARANTOR'].unique().tolist():
    print('\nFor guarantor',gtype,'the total number of applications are-',df1[df1['GUARANTOR']==htype]['ID_NO'].to_string(index=None))
    for i in range(0,n_clust):
        print('Cluster',i,'has below %')
        count = (summary[summary['cluster']==i]['GUARANTOR'].value_counts()[:2].tolist())
        types = summary[summary['cluster']==i]['GUARANTOR'].value_counts()[:2].index.tolist()
        df_dummy = pd.DataFrame({'Guarantor':types,'count':count})
        #print(df_dummy.head())
        print(df_dummy[df_dummy['Guarantor']==gtype]['count']*100/float(df1[df1['GUARANTOR']==gtype]['ID_NO'].to_string(index=None)))

Clusterwise guarantor for all clusters

Cluster 0 :-
['N']
[100.0]
Cluster 1 :-
['N']
[100.0]
Cluster 2 :-
['N']
[100.0]
Cluster 3 :-
['N']
[100.0]
Cluster 4 :-
['N']
[100.0]
Cluster 5 :-
['N']
[100.0]
Cluster 6 :-
['N']
[100.0]
Cluster 7 :-
['N']
[100.0]
Cluster 8 :-
['N']
[100.0]
Cluster 9 :-
['N']
[100.0]
Gurantor based summary for all clusters:


For guarantor N the total number of applications are- Series([], )
Cluster 0 has below %
0    14.896157
Name: count, dtype: float64
Cluster 1 has below %
0    12.055383
Name: count, dtype: float64
Cluster 2 has below %
0    7.257102
Name: count, dtype: float64
Cluster 3 has below %
0    10.312724
Name: count, dtype: float64
Cluster 4 has below %
0    5.538315
Name: count, dtype: float64
Cluster 5 has below %
0    2.769157
Name: count, dtype: float64
Cluster 6 has below %
0    9.047505
Name: count, dtype: float64
Cluster 7 has below %
0    17.068513
Name: count, dtype: float64
Cluster 8 has below %
0    9.071377
Name: count, dtype: float64
Cluster 9 has below %
0    11.983767
Name: count, dtype: float64

In [110]:
#Based on Co obligant

print('Clusterwise co obligant for all clusters\n')
for i in range(0,n_clust):
        print('Cluster',i,':-')
        count = (summary[summary['cluster']==i]['CO_OBLIGANT'].value_counts()[:2].tolist())
        total_in_cluster = summary.groupby('cluster').count().iloc[i]['ID_NO']
        count = [((x*100)/total_in_cluster).round(2) for x in count]
        print(summary[summary['cluster']==i]['CO_OBLIGANT'].value_counts()[:2].index.tolist())
        print(count)        

df1 = summary.groupby('CO_OBLIGANT').count()
df1.reset_index(inplace=True)
df1.head()
df1 = df1[['CO_OBLIGANT','ID_NO']].copy()


print('Guarantor based summary for all clusters:\n')
for otype in summary['CO_OBLIGANT'].unique().tolist():
    print('\nFor co obligant',otype,'the total number of applications are-',df1[df1['CO_OBLIGANT']==otype]['ID_NO'].to_string(index=None))
    for i in range(0,n_clust):
        print('Cluster',i,'has below %')
        count = (summary[summary['cluster']==i]['CO_OBLIGANT'].value_counts()[:2].tolist())
        types = summary[summary['cluster']==i]['CO_OBLIGANT'].value_counts()[:2].index.tolist()
        df_dummy = pd.DataFrame({'Obligant':types,'count':count})
        #print(df_dummy.head())
        print(df_dummy[df_dummy['Obligant']==otype]['count']*100/float(df1[df1['CO_OBLIGANT']==otype]['ID_NO'].to_string(index=None)))

Clusterwise co obligant for all clusters

Cluster 0 :-
['N', 'O']
[98.56, 1.44]
Cluster 1 :-
['N', 'O']
[95.25, 4.75]
Cluster 2 :-
['N', 'O']
[96.71, 3.29]
Cluster 3 :-
['N', 'O']
[99.31, 0.69]
Cluster 4 :-
['N', 'O']
[98.71, 1.29]
Cluster 5 :-
['N', 'O']
[97.41, 2.59]
Cluster 6 :-
['N', 'O']
[96.57, 3.43]
Cluster 7 :-
['N', 'O']
[97.34, 2.66]
Cluster 8 :-
['N', 'O']
[97.37, 2.63]
Cluster 9 :-
['N', 'O']
[98.61, 1.39]
Guarantor based summary for all clusters:


For co obligant N the total number of applications are-  4088
Cluster 0 has below %
0    15.044031
Name: count, dtype: float64
Cluster 1 has below %
0    11.766145
Name: count, dtype: float64
Cluster 2 has below %
0    7.191781
Name: count, dtype: float64
Cluster 3 has below %
0    10.494129
Name: count, dtype: float64
Cluster 4 has below %
0    5.601761
Name: count, dtype: float64
Cluster 5 has below %
0    2.764188
Name: count, dtype: float64
Cluster 6 has below %
0    8.953033
Name: count, dtype: float64
Cluster 7 has below %
0    17.02544
Name: count, dtype: float64
Cluster 8 has below %
0    9.050881
Name: count, dtype: float64
Cluster 9 has below %
0    12.108611
Name: count, dtype: float64

For co obligant O the total number of applications are-  101
Cluster 0 has below %
1    8.910891
Name: count, dtype: float64
Cluster 1 has below %
1    23.762376
Name: count, dtype: float64
Cluster 2 has below %
1    9.90099
Name: count, dtype: float64
Cluster 3 has below %
1    2.970297
Name: count, dtype: float64
Cluster 4 has below %
1    2.970297
Name: count, dtype: float64
Cluster 5 has below %
1    2.970297
Name: count, dtype: float64
Cluster 6 has below %
1    12.871287
Name: count, dtype: float64
Cluster 7 has below %
1    18.811881
Name: count, dtype: float64
Cluster 8 has below %
1    9.90099
Name: count, dtype: float64
Cluster 9 has below %
1    6.930693
Name: count, dtype: float64

In [111]:
#Based on Collateral

print('Clusterwise collateral for all clusters\n')
for i in range(0,n_clust):
        print('Cluster',i,':-')
        count = (summary[summary['cluster']==i]['CO_LATERAL'].value_counts()[:2].tolist())
        total_in_cluster = summary.groupby('cluster').count().iloc[i]['ID_NO']
        count = [((x*100)/total_in_cluster).round(2) for x in count]
        print(summary[summary['cluster']==i]['CO_LATERAL'].value_counts()[:2].index.tolist())
        print(count)        

df1 = summary.groupby('CO_LATERAL').count()
df1.reset_index(inplace=True)
df1.head()
df1 = df1[['CO_LATERAL','ID_NO']].copy()


print('\nCollateral based summary for all clusters:')
for otype in summary['CO_LATERAL'].unique().tolist():
    print('\nFor collateral',otype,'the total number of applications are-',df1[df1['CO_LATERAL']==otype]['ID_NO'].to_string(index=None))
    for i in range(0,n_clust):
        print('Cluster',i,'has below %')
        count = (summary[summary['cluster']==i]['CO_LATERAL'].value_counts()[:2].tolist())
        types = summary[summary['cluster']==i]['CO_LATERAL'].value_counts()[:2].index.tolist()
        df_dummy = pd.DataFrame({'Collateral':types,'count':count})
        #print(df_dummy.head())
        print(df_dummy[df_dummy['Collateral']==otype]['count']*100/float(df1[df1['CO_LATERAL']==otype]['ID_NO'].to_string(index=None)))

Clusterwise collateral for all clusters

Cluster 0 :-
['N']
[100.0]
Cluster 1 :-
['N']
[100.0]
Cluster 2 :-
['N']
[100.0]
Cluster 3 :-
['N']
[100.0]
Cluster 4 :-
['N']
[100.0]
Cluster 5 :-
['N']
[100.0]
Cluster 6 :-
['N']
[100.0]
Cluster 7 :-
['N']
[100.0]
Cluster 8 :-
['N']
[100.0]
Cluster 9 :-
['N']
[100.0]

Collateral based summary for all clusters:

For collateral N the total number of applications are-  4189
Cluster 0 has below %
0    14.896157
Name: count, dtype: float64
Cluster 1 has below %
0    12.055383
Name: count, dtype: float64
Cluster 2 has below %
0    7.257102
Name: count, dtype: float64
Cluster 3 has below %
0    10.312724
Name: count, dtype: float64
Cluster 4 has below %
0    5.538315
Name: count, dtype: float64
Cluster 5 has below %
0    2.769157
Name: count, dtype: float64
Cluster 6 has below %
0    9.047505
Name: count, dtype: float64
Cluster 7 has below %
0    17.068513
Name: count, dtype: float64
Cluster 8 has below %
0    9.071377
Name: count, dtype: float64
Cluster 9 has below %
0    11.983767
Name: count, dtype: float64

In [112]:
#Based on Gender

print('Clusterwise gender for all clusters\n')
for i in range(0,n_clust):
        print('Cluster',i,':-')
        count = (summary[summary['cluster']==i]['GENDER'].value_counts()[:2].tolist())
        total_in_cluster = summary.groupby('cluster').count().iloc[i]['ID_NO']
        count = [((x*100)/total_in_cluster).round(2) for x in count]
        print(summary[summary['cluster']==i]['GENDER'].value_counts()[:2].index.tolist())
        print(count)        

df1 = summary.groupby('GENDER').count()
df1.reset_index(inplace=True)
df1.head()
df1 = df1[['GENDER','ID_NO']].copy()


print('\nGender based summary for all clusters:')
for otype in summary['GENDER'].unique().tolist():
    print('\nFor gender',otype,'the total number of applications are-',df1[df1['GENDER']==otype]['ID_NO'].to_string(index=None))
    for i in range(0,n_clust):
        print('Cluster',i,'has below %')
        count = (summary[summary['cluster']==i]['GENDER'].value_counts()[:2].tolist())
        types = summary[summary['cluster']==i]['GENDER'].value_counts()[:2].index.tolist()
        df_dummy = pd.DataFrame({'gender':types,'count':count})
        #print(df_dummy.head())
        print(df_dummy[df_dummy['gender']==otype]['count']*100/float(df1[df1['GENDER']==otype]['ID_NO'].to_string(index=None)))

Clusterwise gender for all clusters

Cluster 0 :-
['F', 'M']
[65.38, 34.62]
Cluster 1 :-
['F', 'M']
[60.2, 39.8]
Cluster 2 :-
['F', 'M']
[53.29, 46.71]
Cluster 3 :-
['F', 'M']
[66.2, 33.8]
Cluster 4 :-
['F', 'M']
[55.6, 44.4]
Cluster 5 :-
['F', 'M']
[72.41, 27.59]
Cluster 6 :-
['F', 'M']
[53.56, 46.44]
Cluster 7 :-
['F', 'M']
[52.31, 47.69]
Cluster 8 :-
['F', 'M']
[72.11, 27.89]
Cluster 9 :-
['F', 'M']
[74.7, 25.3]

Gender based summary for all clusters:

For gender F the total number of applications are-  2599
Cluster 0 has below %
0    15.698346
Name: count, dtype: float64
Cluster 1 has below %
0    11.696806
Name: count, dtype: float64
Cluster 2 has below %
0    6.233167
Name: count, dtype: float64
Cluster 3 has below %
0    11.004232
Name: count, dtype: float64
Cluster 4 has below %
0    4.963447
Name: count, dtype: float64
Cluster 5 has below %
0    3.232012
Name: count, dtype: float64
Cluster 6 has below %
0    7.810696
Name: count, dtype: float64
Cluster 7 has below %
0    14.39015
Name: count, dtype: float64
Cluster 8 has below %
0    10.542516
Name: count, dtype: float64
Cluster 9 has below %
0    14.428626
Name: count, dtype: float64

For gender M the total number of applications are-  1590
Cluster 0 has below %
1    13.584906
Name: count, dtype: float64
Cluster 1 has below %
1    12.641509
Name: count, dtype: float64
Cluster 2 has below %
1    8.930818
Name: count, dtype: float64
Cluster 3 has below %
1    9.18239
Name: count, dtype: float64
Cluster 4 has below %
1    6.477987
Name: count, dtype: float64
Cluster 5 has below %
1    2.012579
Name: count, dtype: float64
Cluster 6 has below %
1    11.069182
Name: count, dtype: float64
Cluster 7 has below %
1    21.446541
Name: count, dtype: float64
Cluster 8 has below %
1    6.666667
Name: count, dtype: float64
Cluster 9 has below %
1    7.987421
Name: count, dtype: float64

In [113]:
summary.head()

,ID_NO,UNIT_CODE,PRODUCT_CODE,APPL_AMT,ACTIVITY_CODE,VILLAGE_CODE,FAMILY_MEM,HOUSE_TYPE,REGULAR,FESTIVE,UNSECURE_SECURE,GUARANTOR,CO_OBLIGANT,CO_LATERAL,CATEGORY,AGE,GENDER,ACCOMADATION,Default,cluster
0,8749.0,31,113.0,10000.0,81.0,A0006,4,Tiles,1000.0,5000.0,U,N,N,N,O.B.C,32.0,F,R,0,2
1,8787.0,31,103.0,20000.0,22.0,UT001,6,Tiles,1000.0,2000.0,U,N,N,N,O.B.C,27.0,F,R,1,1
2,8788.0,31,103.0,20000.0,22.0,UT001,6,Tiles,1000.0,2000.0,U,N,N,N,O.B.C,41.0,F,R,1,8
3,8794.0,31,104.0,20000.0,33.0,UT001,6,Tatched,1000.0,2000.0,U,N,N,N,O.B.C,31.0,F,R,1,9
4,8795.0,31,103.0,20000.0,22.0,UT001,3,Tiles,500.0,1000.0,U,N,N,N,O.B.C,32.0,F,R,1,0

In [114]:
#Based on Accomodation

print('Clusterwise accomodation for all clusters\n')
for i in range(0,n_clust):
        print('Cluster',i,':-')
        count = (summary[summary['cluster']==i]['ACCOMADATION'].value_counts()[:2].tolist())
        total_in_cluster = summary.groupby('cluster').count().iloc[i]['ID_NO']
        count = [((x*100)/total_in_cluster).round(2) for x in count]
        print(summary[summary['cluster']==i]['ACCOMADATION'].value_counts()[:2].index.tolist())
        print(count)        

df1 = summary.groupby('ACCOMADATION').count()
df1.reset_index(inplace=True)
df1.head()
df1 = df1[['ACCOMADATION','ID_NO']].copy()


print('\nAccomodation based summary for all clusters:')
for otype in summary['ACCOMADATION'].unique().tolist():
    print('\nFor accomodation',otype,'the total number of applications are-',df1[df1['ACCOMADATION']==otype]['ID_NO'].to_string(index=None))
    for i in range(0,n_clust):
        print('Cluster',i,'has below %')
        count = (summary[summary['cluster']==i]['ACCOMADATION'].value_counts()[:2].tolist())
        types = summary[summary['cluster']==i]['ACCOMADATION'].value_counts()[:2].index.tolist()
        df_dummy = pd.DataFrame({'acco':types,'count':count})
        #print(df_dummy.head())
        print(df_dummy[df_dummy['acco']==otype]['count']*100/float(df1[df1['ACCOMADATION']==otype]['ID_NO'].to_string(index=None)))

Clusterwise accomodation for all clusters

Cluster 0 :-
['O', 'R']
[70.19, 29.81]
Cluster 1 :-
['R', 'O']
[90.89, 9.11]
Cluster 2 :-
['R', 'O']
[67.11, 32.89]
Cluster 3 :-
['O', 'R']
[53.47, 46.53]
Cluster 4 :-
['R', 'O']
[70.69, 29.31]
Cluster 5 :-
['O', 'R']
[79.31, 20.69]
Cluster 6 :-
['R', 'O']
[97.63, 2.37]
Cluster 7 :-
['O', 'R']
[56.08, 43.92]
Cluster 8 :-
['R', 'O']
[90.53, 9.47]
Cluster 9 :-
['R', 'O']
[88.05, 11.95]

Accomodation based summary for all clusters:

For accomodation R the total number of applications are-  2708
Cluster 0 has below %
1    6.868538
Name: count, dtype: float64
Cluster 1 has below %
0    16.949778
Name: count, dtype: float64
Cluster 2 has below %
0    7.533235
Name: count, dtype: float64
Cluster 3 has below %
1    7.422452
Name: count, dtype: float64
Cluster 4 has below %
0    6.05613
Name: count, dtype: float64
Cluster 5 has below %
1    0.886263
Name: count, dtype: float64
Cluster 6 has below %
0    13.66322
Name: count, dtype: float64
Cluster 7 has below %
1    11.595273
Name: count, dtype: float64
Cluster 8 has below %
0    12.703102
Name: count, dtype: float64
Cluster 9 has below %
0    16.322009
Name: count, dtype: float64

For accomodation O the total number of applications are-  1481
Cluster 0 has below %
0    29.574612
Name: count, dtype: float64
Cluster 1 has below %
1    3.106009
Name: count, dtype: float64
Cluster 2 has below %
1    6.752194
Name: count, dtype: float64
Cluster 3 has below %
0    15.597569
Name: count, dtype: float64
Cluster 4 has below %
1    4.591492
Name: count, dtype: float64
Cluster 5 has below %
0    6.212019
Name: count, dtype: float64
Cluster 6 has below %
1    0.607698
Name: count, dtype: float64
Cluster 7 has below %
0    27.0763
Name: count, dtype: float64
Cluster 8 has below %
1    2.43079
Name: count, dtype: float64
Cluster 9 has below %
1    4.051317
Name: count, dtype: float64

SUMMARY STATS FOR CONTINUOUS NUMERICAL VARIABLES: APPL_AMT, FAMILY_MEM, REGULAR, FESTIVE, AGE

In [115]:
summary.head()

,ID_NO,UNIT_CODE,PRODUCT_CODE,APPL_AMT,ACTIVITY_CODE,VILLAGE_CODE,FAMILY_MEM,HOUSE_TYPE,REGULAR,FESTIVE,UNSECURE_SECURE,GUARANTOR,CO_OBLIGANT,CO_LATERAL,CATEGORY,AGE,GENDER,ACCOMADATION,Default,cluster
0,8749.0,31,113.0,10000.0,81.0,A0006,4,Tiles,1000.0,5000.0,U,N,N,N,O.B.C,32.0,F,R,0,2
1,8787.0,31,103.0,20000.0,22.0,UT001,6,Tiles,1000.0,2000.0,U,N,N,N,O.B.C,27.0,F,R,1,1
2,8788.0,31,103.0,20000.0,22.0,UT001,6,Tiles,1000.0,2000.0,U,N,N,N,O.B.C,41.0,F,R,1,8
3,8794.0,31,104.0,20000.0,33.0,UT001,6,Tatched,1000.0,2000.0,U,N,N,N,O.B.C,31.0,F,R,1,9
4,8795.0,31,103.0,20000.0,22.0,UT001,3,Tiles,500.0,1000.0,U,N,N,N,O.B.C,32.0,F,R,1,0

In [116]:
for i in range(0,n_clust):
    sliced = summary[summary['cluster']==i]
    print('Stats for cluster',i,':-')
    print('1. Application amount-','Mean:',round(sliced['APPL_AMT'].mean(),ndigits=2),',Min:',round(sliced['APPL_AMT'].min(),ndigits=2),',Max:',round(sliced['APPL_AMT'].max(),ndigits=2),',Median:',round(sliced['APPL_AMT'].median(),ndigits=2))
    print('2. Family members-','Mean:',round(sliced['FAMILY_MEM'].mean(),ndigits=2),',Min:',round(sliced['FAMILY_MEM'].min(),ndigits=2),',Max:',round(sliced['FAMILY_MEM'].max(),ndigits=2),',Median:',round(sliced['FAMILY_MEM'].median(),ndigits=2))
    print('3. Regular-','Mean:',round(sliced['REGULAR'].mean(),ndigits=2),',Min:',round(sliced['REGULAR'].min(),ndigits=2),',Max:',round(sliced['REGULAR'].max(),ndigits=2),',Median:',round(sliced['REGULAR'].median(),ndigits=2))
    print('4. Festive-','Mean:',round(sliced['FESTIVE'].mean(),ndigits=2),',Min:',round(sliced['FESTIVE'].min(),ndigits=2),',Max:',round(sliced['FESTIVE'].max(),ndigits=2),',Median:',round(sliced['FESTIVE'].median(),ndigits=2))
    print('5. Age-','Mean:',round(sliced['AGE'].mean(),ndigits=2),',Min:',round(sliced['AGE'].min(),ndigits=2),',Max:',round(sliced['AGE'].max(),ndigits=2),',Median:',round(sliced['AGE'].median(),ndigits=2))
    print('\n')

Stats for cluster 0 :-
1. Application amount- Mean: 12439.9 ,Min: 8000.0 ,Max: 50000.0 ,Median: 12000.0
2. Family members- Mean: 2.57 ,Min: 1 ,Max: 7 ,Median: 2.0
3. Regular- Mean: 492.34 ,Min: 50.0 ,Max: 800.0 ,Median: 500.0
4. Festive- Mean: 890.29 ,Min: 90.0 ,Max: 2000.0 ,Median: 900.0
5. Age- Mean: 34.68 ,Min: 30.0 ,Max: 40.0 ,Median: 34.0


Stats for cluster 1 :-
1. Application amount- Mean: 14231.58 ,Min: 5000.0 ,Max: 80000.0 ,Median: 15000.0
2. Family members- Mean: 3.39 ,Min: 1 ,Max: 9 ,Median: 3.0
3. Regular- Mean: 999.5 ,Min: 450.0 ,Max: 3000.0 ,Median: 1000.0
4. Festive- Mean: 1846.18 ,Min: 1000.0 ,Max: 3500.0 ,Median: 2000.0
5. Age- Mean: 24.86 ,Min: 18.0 ,Max: 29.0 ,Median: 25.0


Stats for cluster 2 :-
1. Application amount- Mean: 14029.61 ,Min: 5000.0 ,Max: 150000.0 ,Median: 15000.0
2. Family members- Mean: 3.94 ,Min: 1 ,Max: 10 ,Median: 4.0
3. Regular- Mean: 2059.22 ,Min: 800.0 ,Max: 10002.0 ,Median: 2000.0
4. Festive- Mean: 4557.89 ,Min: 1500.0 ,Max: 20000.0 ,Median: 5000.0
5. Age- Mean: 28.13 ,Min: 18.0 ,Max: 35.0 ,Median: 28.0


Stats for cluster 3 :-
1. Application amount- Mean: 13222.22 ,Min: 5000.0 ,Max: 20000.0 ,Median: 12000.0
2. Family members- Mean: 2.94 ,Min: 1 ,Max: 8 ,Median: 2.0
3. Regular- Mean: 553.54 ,Min: 80.0 ,Max: 1000.0 ,Median: 500.0
4. Festive- Mean: 938.56 ,Min: 300.0 ,Max: 2000.0 ,Median: 950.0
5. Age- Mean: 45.46 ,Min: 40.0 ,Max: 56.0 ,Median: 44.0


Stats for cluster 4 :-
1. Application amount- Mean: 13562.5 ,Min: 8000.0 ,Max: 50000.0 ,Median: 15000.0
2. Family members- Mean: 3.99 ,Min: 1 ,Max: 9 ,Median: 4.0
3. Regular- Mean: 2118.53 ,Min: 800.0 ,Max: 7000.0 ,Median: 2000.0
4. Festive- Mean: 4686.21 ,Min: 2000.0 ,Max: 9000.0 ,Median: 5000.0
5. Age- Mean: 42.48 ,Min: 35.0 ,Max: 55.0 ,Median: 42.0


Stats for cluster 5 :-
1. Application amount- Mean: 11560.34 ,Min: 5000.0 ,Max: 20000.0 ,Median: 10000.0
2. Family members- Mean: 2.31 ,Min: 2 ,Max: 7 ,Median: 2.0
3. Regular- Mean: 646.98 ,Min: 200.0 ,Max: 2500.0 ,Median: 500.0
4. Festive- Mean: 9320.46 ,Min: 4500.0 ,Max: 30000.0 ,Median: 9000.0
5. Age- Mean: 33.8 ,Min: 20.0 ,Max: 52.0 ,Median: 34.0


Stats for cluster 6 :-
1. Application amount- Mean: 14006.6 ,Min: 5000.0 ,Max: 45000.0 ,Median: 15000.0
2. Family members- Mean: 3.63 ,Min: 1 ,Max: 8 ,Median: 4.0
3. Regular- Mean: 902.77 ,Min: 500.0 ,Max: 2000.0 ,Median: 1000.0
4. Festive- Mean: 1277.57 ,Min: 800.0 ,Max: 1500.0 ,Median: 1200.0
5. Age- Mean: 34.75 ,Min: 28.0 ,Max: 42.0 ,Median: 34.0


Stats for cluster 7 :-
1. Application amount- Mean: 13678.25 ,Min: 5000.0 ,Max: 50000.0 ,Median: 15000.0
2. Family members- Mean: 2.78 ,Min: 1 ,Max: 7 ,Median: 2.0
3. Regular- Mean: 539.44 ,Min: 50.0 ,Max: 2500.0 ,Median: 500.0
4. Festive- Mean: 920.63 ,Min: 200.0 ,Max: 1500.0 ,Median: 900.0
5. Age- Mean: 25.42 ,Min: 18.0 ,Max: 30.0 ,Median: 26.0


Stats for cluster 8 :-
1. Application amount- Mean: 13486.71 ,Min: 5000.0 ,Max: 50000.0 ,Median: 12000.0
2. Family members- Mean: 3.55 ,Min: 1 ,Max: 10 ,Median: 3.0
3. Regular- Mean: 984.21 ,Min: 150.0 ,Max: 2500.0 ,Median: 1000.0
4. Festive- Mean: 1905.53 ,Min: 1200.0 ,Max: 4000.0 ,Median: 2000.0
5. Age- Mean: 45.25 ,Min: 40.0 ,Max: 55.0 ,Median: 44.0


Stats for cluster 9 :-
1. Application amount- Mean: 13952.09 ,Min: 5000.0 ,Max: 30000.0 ,Median: 15000.0
2. Family members- Mean: 3.98 ,Min: 1 ,Max: 9 ,Median: 4.0
3. Regular- Mean: 951.0 ,Min: 150.0 ,Max: 2500.0 ,Median: 1000.0
4. Festive- Mean: 2141.24 ,Min: 1600.0 ,Max: 4000.0 ,Median: 2000.0
5. Age- Mean: 34.26 ,Min: 28.0 ,Max: 40.0 ,Median: 34.0